<mat-toolbar color="primary">

  <mat-toolbar-row>
    <div class="wrapper">
      <div class="header">

        <span routerLink="/dashboard" class="logo">Campaigns Manager</span>
        <div class="nav-wrapper">
          <mat-nav-list>
            <mat-list-item>
              <a matLine routerLink="/dashboard/facebook" routerLinkActive="active">Facebook</a>
            </mat-list-item>

            <mat-list-item>
              <a matLine routerLink="/dashboard/instagram" routerLinkActive="active">Instagram</a>

            </mat-list-item>

            <mat-list-item>
              <a matLine routerLink="/dashboard/pinterest" routerLinkActive="active">Pinterest</a>

            </mat-list-item>
          </mat-nav-list>
        </div>
      </div>

    </div>
  </mat-toolbar-row>



</mat-toolbar>